environment="test"
prefix="ttz"
owner="balaganesh"
cost_center="cloud-platform"
application="three-cloud-platform"
azure_location="westeurope"
azure_tenant_id="00000000-0000-0000-0000-000000000000"
aws_region="eu-west-1"
gcp_project_id="my-gcp-project-id"
gcp_region="europe-west1"
postgres_admin_password="ChangeMe_StrongPassword_123!"
